@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Gruppo";
	src: url("../fonts/Gruppo-Regular.ttf") format("truetype");
}
// font-family: 'Alumni Sans Pinstripe', sans-serif;
// font-family: 'Jura', sans-serif;
// font-family: 'Seymour One', sans-serif;
