html,
body {
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto'; 
	text-align: justify;
	min-width: 320px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	background: $color3;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container-fluid {
	padding: 0 15px;
	width: 100%;
}






