$color1: #c1aece; //fonts1
$color2: #f0b752; //fonts2
$color3: #0e0e13; //bcg1
$color4: #202020;
$shadow: #2E8B57;

.portfolio__monitor {
  --he: 300px;
};
.portfolio__tablet {
  --he: 318px;
}
.portfolio__mobile {
  --he: 570px;
}
%section-title {
  color: $color2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  margin: 30px 0 20px 0;
  position: relative;
  border-top: 2px solid $color2;

  &::after {
    content: '';
    min-width: 200px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 500px;
    width: 100%;
    bottom: 0;
    transform: translateX(-50%);
    background: $color2;
    transition: all 0.5s;
  }
}

%button-arrow {
  margin: 15px;
  background: $color2;
  padding: 10px 30px;
  position: relative;
  min-width: 200px;
  text-align: center;
  border-radius: 50px;
  color: $color3 !important;
  padding-left: 54px;
  transition: .5s;
  cursor: pointer;
  display: inline-block;
  z-index: 5;

  &::before {
    content: '';
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    transition: .5s;
    background-color: $color3;
    background-image: url(../img/svg/arrow_right.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border: 1px hidden;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, $color3 0%, rgba($color3, 0.4) 50%, $color3 100%);
  background-size: 220% auto;
  box-shadow: 0 0 5px 2px rgba($color3, .8);
  transition: .5s;
}

.gradient-button:hover {
  background-position: right center;
}